[Desktop Entry]
Version=1.0
Type=Application
Name=LG Buddy
Comment=Control your LG TV and manage LG Buddy
Exec=/usr/bin/lg-buddy
Icon=io.github.staphylococcus.LGBuddy
Terminal=false
Categories=Utility;
